<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="avirankatz.goodhour">

    <application
        android:allowBackup="true"
        android:icon="@drawable/booktime"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".goodhourprefs.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".goodhourprefs.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".GoodHourActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_good_hour"
            android:parentActivityName=".goodhourprefs.MainActivity"
            android:theme="@style/FullscreenTheme"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="avirankatz.goodhour.goodhourprefs.MainActivity" />
        </activity>
    </application>

</manifest>